<h1>Show Event</h1>

<ul>

  <li>
    <strong>Sender info:</strong>
    <%= @event.sender_info %>
  </li>

  <li>
    <strong>Payload:</strong>
    <%= @event.payload %>
  </li>

  <li>
    <strong>Topic:</strong>
    <%= @event.topic_id %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.event_path(@conn, :edit, @event) %></span>
<span><%= link "Back", to: Routes.event_path(@conn, :index) %></span>
