<h1>New Subscription</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.subscription_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.subscription_path(@conn, :index) %></span>
