<h1>Show Event log</h1>

<ul>

  <li>
    <strong>Status:</strong>
    <%= @event_log.status %>
  </li>

  <li>
    <strong>Event_id:</strong>
    <%= @event_log.event_id %>
  </li>

  <li>
    <strong>Subscription_id:</strong>
    <%= @event_log.subscription_id %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.event_log_path(@conn, :edit, @event_log) %></span>
<span><%= link "Back", to: Routes.event_log_path(@conn, :index) %></span>
